
div#head
{
    position:relative;
    color: ce1126;
    width:1000px;
    height:400px:   
}
h1
{
    float:right;
}
div#outbox
{
    position:relative;
    clear:both;
}
.Black
{
    background-color: #4a4a4a;   
}

/*row 1*/
div#row1_column1
{
    float:left;
    background-color: #4a90e2;
    height:200px;
    width:400px;
    
}
div#row1_column2
{
    float:left;
    background-color: #f8e71c;
    height:200px;
    width:200px;  
}
div#row1_column3
{
    float:left;
    background-color: #d8d8d8;
    height:200px;
    width:200px;  
}
div#row1_column4
{
    float:left;
    background-color: #ce1126;
    height:200px;
    width:200px;  
}
div#row1_column1_block1
{
    position:absolute;
    left:50;
    top:75;    
    height:50px;
    width:300px;  
    z-index: 1;
}
div#row1_column1_block2
{
    position:absolute;
    background-color: #4a90e2;
    left:100;
    top:75;    
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row1_column1_block3
{
    position:absolute;
    background-color: #4a90e2;
    left:250;
    top:75;    
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row1_column2_block1
{
    position:absolute;
    left:400;
    top:0;    
    height:50px;
    width:50px;  
    z-index: 1;
}
div#row1_column2_block2
{
    position:absolute;
    left:550;
    top:150;    
    height:50px;
    width:50px;  
    z-index: 1;
}
div#row1_column3_block1
{
    position:absolute;
    left:675;
    top:75;    
    height:50px;
    width:50px;  
    z-index: 1;
}
div#row1_column4_block1
{
    position:absolute;
    background-color: #50e3c2;
    left:900;
    top:0;    
    height:100px;
    width:100px;  
    z-index: 1;
}
div#row1_column4_block2
{
    position:absolute;
    left:900;
    top:100;    
    height:100px;
    width:100px;  
    z-index: 1;
}
/*row 2*/
div#row2
{
    position:absolute;
    left:0;
    top:200;    
    background-color: #9013ef;
    height:100px;
    width:1000px;  
    z-index: 0;
}
div#row2_upperBlock
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #bd10e0;
    height:50px;
    width:600px;  
    z-index: 1;
}
div#row2_downBlock
{
    position:absolute;
    left:0;
    top:50;    
    background-color: #f5a623;
    height:50px;
    width:600px;  
    z-index: 1;
}
div#row2_upperBlock_blockRed
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #d00d2d;
    height:50px;
    width:200px;  
    z-index: 1;
}
div#row2_upperBlock_blockYellow1
{
    position:absolute;
    left:50;
    top:0;    
    background-color: #f8e71c;
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row2_upperBlock_blockYellow2
{
    position:absolute;
    left:150;
    top:0;    
    background-color: #f8e71c;
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row2_downBlock_green
{
    position:absolute;
    left:400;
    top:0;    
    background-color: #006400;
    height:50px;
    width:200px;  
    z-index: 2;
}

/*row3*/
div#row3
{
    position:absolute;
    left:0;
    top:300;    
    height:200px;
    width:1000px;  
    z-index: 0;
}
div#row3_Block1
{
    position:absolute;
    left:200;
    top:0;    
    background-color: #d00d2d;
    height:200px;
    width:300px;  
    z-index: 1;
}
div#row3_Block2
{
    position:absolute;
    left:500;
    top:0;    
    background-color: #d8d8d8;
    height:200px;
    width:300px;  
    z-index: 1;
}
div#row3_Block1_white1
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #ffffff;
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row3_Block1_white2
{
    position:absolute;
    left:100;
    top:150;    
    background-color: #ffffff;
    height:50px;
    width:100px;  
    z-index: 2;
}
div#row3_Block1_white3
{
    position:absolute;
    left:250;
    top:0;    
    background-color: #ffffff;
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row3_Block2_white
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #ffffff;
    height:50px;
    width:300px;  
    z-index: 2;
}
div#row3_Block2_darkGreen
{
    position:absolute;
    left:0;
    top:100;    
    background-color: #006400;
    height:50px;
    width:300px;  
    z-index: 2;
}
div#row3_Block2_white_green1
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #7ed321;
    height:50px;
    width:50px;  
    z-index: 3;
}
div#row3_Block2_white_green2
{
    position:absolute;
    left:100;
    top:0;    
    background-color: #7ed321;
    height:50px;
    width:50px;  
    z-index: 3;
}
div#row3_Block2_white_green3
{
    position:absolute;
    left:200;
    top:0;    
    background-color: #7ed321;
    height:50px;
    width:50px;  
    z-index: 3;
}

/*row4*/
div#row4
{
    position:absolute;
    background-color: #d8d8d8;
    left:0;
    top:500;    
    height:200px;
    width:1000px;  
    z-index: 0;
}
div#row4_Block1
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #f5a632;
    height:200px;
    width:200px;  
    z-index: 1;
}
div#row4_Block2
{
    position:absolute;
    left:200;
    top:0;    
    background-color: #d00d2d;
    height:200px;
    width:300px;  
    z-index: 1;
}
div#row4_Block3
{
    position:absolute;
    left:500;
    top:0;    
    background-color: #50e3c2;
    height:200px;
    width:300px;  
    z-index: 1;
}
div#row4_Block1_yellow
{
    position:absolute;
    left:0;
    top:0;    
    background-color: #f8e71c;
    height:100px;
    width:100px;  
    z-index: 2;
}
div#row4_Block1_gray
{
    position:absolute;
    left:100;
    top:100;    
    background-color: #d8d8d8;
    height:100px;
    width:100px;  
    z-index: 2;
}
div#row4_Block2_white1
{
    position:absolute;
    left:0;
    top:150;    
    background-color: #ffffff;
    height:50px;
    width:50px;  
    z-index: 2;
}
div#row4_Block2_white2
{
    position:absolute;
    left:100;
    top:0;    
    background-color: #ffffff;
    height:50px;
    width:100px;  
    z-index: 2;
}
div#row4_Block2_white3
{
    position:absolute;
    left:250;
    top:150;    
    background-color: #ffffff;
    height:50px;
    width:50px;  
    z-index: 2;
}

/*row5*/
div#row5
{
    position:absolute;
    left:0;
    top:700;    
    background-color: #9013ef;
    height:100px;
    width:1000px;  
    z-index: 0;
}
div#row5_upperBlock
{
    position:absolute;
    left:400;
    top:0;    
    background-color: #bd10e0;
    height:50px;
    width:600px;  
    z-index: 1;
}
div#row5_downBlock
{
    position:absolute;
    left:400;
    top:50;    
    background-color: #006400;
    height:50px;
    width:600px;  
    z-index: 1;
}
div#row5_upperBlock_yellow
{
    position:absolute;
    left:400;
    top:0;    
    background-color: #f8e71c;
    height:50px;
    width:200px;  
    z-index: 2;
}
div#row5_upperBlock_red1
{
    position:absolute;
    left:450;
    top:0;    
    background-color: #d0021b;
    height:50px;
    width:50px;  
    z-index: 3;
}
div#row5_upperBlock_red2
{
    position:absolute;
    left:550;
    top:0;    
    background-color: #d0021b;
    height:50px;
    width:50px;  
    z-index: 3;
}
div#row5_downBlock_orange
{
    position:absolute;
    left:200;
    top:0;    
    background-color: #f5a623;
    height:50px;
    width:400px;  
    z-index: 2;
}